/** @format */

html {
  /* background: url("../../assets/images/bg-img-1.jpg") no-repeat center center
    fixed;
  height: 100vh;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background-color: #f8f9fd;
}
