/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Judson", serif;
  src: local("Judson"),
    url("./assets/font/Judson/Judson-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Jost", sans-serif;
  src: local("Jost"),
    url("./assets/font/Jost/Jost-VariableFont_wght.ttf") format("truetype");
}
